html {
    margin: 400px, auto;
    background-color: beige;
    text-align: center;
    text-decoration: none;
}

h1{
    color: rgb(114, 22, 22);
    font-size: 50px;
}

.link {
    text-decoration-style: none;
    color: black;
}

img {
    width: 300px;
    height: auto;
    border-radius: 10%;
}

ol{
    display: inline-flex;
    gap: 50px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    font-size: 36px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
}


.recipes {
    display: inline-flex;
    list-style: none;
    gap: 30px;
    text-decoration: none;
}


a{
    text-decoration: none;
}

